.recipe-container {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.img-details-main {
  border-radius: 10px;
  max-width: 25%;
}

.recomendation-container {
  background-color: #fabb8b;
  border-radius: 10px;
  display: flex;
  margin-bottom: 40px;
  max-width: 40%;
  overflow-x: scroll;
}

.recomendation-card-img {
  height: 290px;
  width: 20vw;
}

.button-recipe {
  margin-bottom: 2rem;
  width: 30%;
}

.infos-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.infos-container {
  margin-left: 10px;
  margin-top: 15px;
}

.buttons-container {
  margin-top: 15px;
}

.buttons-container > button {
  background-color: whitesmoke;
  border-style: none;
  margin-right: 3px;
}

.buttons-container > button > img {
  height: 26px;
  width: 26px;
}

.buttons-container > button:focus {
  outline: none;
}

.list-container {
  background-color: #fabb8b;
  border-radius: 10px;
  list-style-type: none;
  padding-left: 10px;
  width: 80%;
}

.instruction-container {
  background-color: #fabb8b;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.instruction-container > p {
  padding-left: 10px;
  padding-right: 10px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card-recomendation {
  height: 340px;
  text-align: center;
}

h3 {
  padding-left: 10px;
}

.margin-link {
  margin-left: 15px;
}
